<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABF26FA41E2FF22E00B5ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF26FB81E2FF22E00B5ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF26FC31E2FF22E00B5ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
